div.footer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  height: 60px;
}
div.logo {
  display: flex;
  flex-direction: column;
  width: 25%;
}
div.titulo {
  width: 80%;
  margin-left: 22%;
  margin-top: 0;
}
div.adress {
  display: flex;
  flex-direction: column;
}
