div.footer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  height: 60px;
}
div.logo {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.icon {
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}
div.titulo {
  width: 30%;
  margin-left: 22%;
  margin-top: 0;
}
div.adress {
  display: flex;
  flex-direction: column;
}
